@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
main{
    margin: 20px 10%;
}
h1{
    font-size: 36px;
    text-align: center;
    color:red;
}
h2 {
    font-size: 24px;
    color: gray;
}
h3 {
     color: red;
     text-decoration: underline;
 }
 p {
     font-size: 16px;
     font-style: italic;
 }
 nav{
    display: block;
    text-align: center;
    background-color: red;
 }
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 14px 0px;
}
nav li{
    display: inline;
}
 nav a{
    text-decoration: none;
    color: white;
    padding: 0px 50px;
 }
 nav a:hover{
    text-decoration: underline;
 }
 form {
     border: 1px solid #eee;
     width: 600px;
     border-radius: 10px;
     padding: 20px;
     margin: auto;
     display: block;
 }
input[type=text],input[type=date], input[type=tel], input[type=email], select, textarea {
    margin-bottom: 15px;
    border: 1px solid red;
    border-radius: 10px;
    width: 100%;
    height: 25px;
 }
 input[type=checkbox], input[type=radio]{
    margin-bottom: 15px;
 }
button{
    border: 1px solid red;
    border-radius: 8px;
    background-color: red;
    color: white;
    margin: auto;
    display: block;
    font-size: 14px;
    padding: 8px 20px;
}
button:hover{
    color: red;
    background-color: white;
    cursor: pointer;
}
 textarea{
    height: 100px;
 }
input:focus, textarea:focus {
    background-color: yellow;
 }
 footer div{
    text-align: center;
    padding-bottom: 30px;
 }
footer i {
     font-size: 35px;
     border: 1px solid;
     height: 48px;
     width: 58px;
     text-align: center;
     padding: 10px 0 0 0;
     border-radius: 80px;
     margin: 0 15px;
     color: red;
 }
 .producto {
    background-color: #eee;
    width: 280px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
 }
 .producto h3{
    text-align: center;
 }
 .producto img{
    height: 150px;
    margin: auto;
    display: block;
 }
 .negrita{
    font-weight: 600;
 }
 .producto span{
    color: green;
    font-weight: 600;
 }
.bloque-video{
  background-color: #eee;
  border-radius: 8px;
  padding: 20px;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
@media (max-width: 460px){
    h1 {
        font-size: 26px;
    }
    h2{
        font-size: 22px;
    }
    p {
        font-size: 14px;
    }
    form{
        width: 300px;
    }
    iframe{
        width: 100%;
    }
    nav a {
        padding: 0px 35px;
    }
}