@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
     scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
h1{
    font-size: 36px;
    text-align: center;
}
h1,h3{
    color:red;
}
h2{
    color: gray;
    font-size: 24px;
}
h3{
    color: red;
    text-decoration: underline; /*aplica subrayado*/
}
p{
    font-size: 16px;
    font-style: italic;
}
textarea {
    resize: none;
}
input:focus {
    background-color: #eee;
}
textarea:focus {
    background-color: #eee;
}
button{
    background-color: red;
    color: white;
    border: none;
    padding: 15px;
    display: block;
    margin: auto;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: red;
}
nav {
    display: block;
    text-align: center;
    background-color: red;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 14px 0px;
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0px 50px;
}
nav a:hover{
    text-decoration: underline;
}
main{
    margin: 20px 10%;
}
form{
    width: 600px;
    margin: auto;
    display: block;
}
form div{
    margin: 5px 0;
}
.form-control{
    border: 1px solid red;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    margin: 3px 0px;
    padding: 4px;
}
.parrafo{
    font-weight: bold; /*aplica negrita*/
}
.producto{
    background-color: #eee;
    border: #eee solid 1px;
    width: 300px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}
.producto:hover{
    background-color: white;
    cursor: pointer;
}
.producto h3{
    text-align: center;
}
.producto span{
    font-weight: bold;
    color:green;
}
.producto img{  /* Centramos la imagen dentro del contenedor*/
    height: 130px;
    margin: auto;
    display: block;
}
.video-promocional{
    background-color: #eee;
    border-radius: 8px;
    padding: 5px 20px 20px 20px;
}
.video-promocional iframe{
    width: 100%;
    height: 600px;
}
footer{ /* Centramos los elementos dentro del footer*/
    width: max-content;
    margin: auto;
}
footer i{
    font-size: 35px;
    border: 1px solid;
    height: 48px;
    width: 58px;
    text-align: center;
    padding: 10px 0 0 0;
    border-radius: 80px;
    margin: 0 15px;
    color: red;
}
@media (max-width: 460px){ /*aplica cuando el ancho del dispositivo es hasta 460px*/
    h1{
        font-size: 16px;
    }
    h2{
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }
    main{
        margin: 10px 2%;
    }
    .video-promocional iframe{
    width: 100%;
    height: 300px;
    }
}
