.px0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.px1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.px2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.px4 {
    padding-top: 20px;
    padding-bottom: 20px;
}