@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
#contacto, #inicio{
    background-image: url("../images/fondo-contacto.png");
    background-size: cover;
}
#proyectos{
    background-image: url("../images/fondo-proyectos.png");
    background-size: cover;
}
h1{
    color: #E20000;
}
p{
    color: #6a6a6a;
}
.btn{
    color: #370a6d;
    background-color: white;
    border: 0px;
    border-radius: 15px;
}
.btn:hover{
    color:white;
    background-color: #370a6d;
}
.btn-rojo{
    color: white;
    background-color: #ff4a49;
    border: 0px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
}
.btn-rojo:hover{
    color: white;
    background-color: #370a6d;
}
.btn-whatsapp{
    position: fixed;
    right: 50px;
    bottom: 0px;
    background-color: #370a6d;
    color:white;
}
.link-rojo{
    color: #ff4a49;
    text-decoration: none;
}
#contacto footer, #inicio footer{
    color:white;
}
#contacto footer a, #inicio footer a{
    color:white;
}
#contacto footer .fa-github, #inicio footer .fa-github {
    font-size: 30px;
    color: white;
}
#contacto footer .fa-linkedin-in, #inicio footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#proyectos footer{
    color:#ff4a49;
}
#proyectos footer a{
    color:#ff4a49;
}
#proyectos footer .fa-github {
    font-size: 30px;
    color: #ff4a49;
}
#proyectos footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.proyecto{
    background-color: white;
}
.proyecto h2{
    font-size: 16px;
    text-transform: uppercase;
    color:white;
    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    padding: 16px;
}
.proyecto img{
    height: 212px;
}
.proyecto p{
    font-size: 14px;
    height: 130px;
}
#inicio img{
    height: 400px;
}
#inicio img:hover{
    height: 410px;
}
.cohete{
    height: 410px;
}
#inicio p{
    color: white;
    font-size: 17px;
    border: 1px white solid;
    border-radius: 15px;
    font-weight: 600;
}
.foto-perfil{
    border-radius: 600px;
    height: 300px;
}
#stack-tecnologico {
    background-color: #E20000;
}

@media (max-width: 750px) {
    #contacto, #inicio {
        background-image: url("../images/fondo-proyectos.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #proyectos {
        background-size: contain;
        background-repeat: no-repeat;
    }
    #inicio p {
        color: #E20000;
        font-size: 16px;
        border: 1px #E20000 solid;
    }
}

    