@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 36px;
    color: red;
    text-align: center;
}
h2{
    font-size: 24px;
    color:gray;
}
p{
    font-size: 16px;
    font-style: italic;
}
.producto h3{
    color: red;
    text-decoration: underline;
}
.producto span{
    color: green;
    font-weight: 800;
}
.producto img{
    height: 130px;
}
/*.producto li{
    color:gray;
}*/
.negrita{
    font-weight: 800;
}
#video{
    background-color: #eee;
    width: 100%;
}
