@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
main {
    margin: 20px 10%;
}
h1{
    font-size: 36px;
    color: red;
    text-align: center;
}
h2{
    font-size: 24px;
    color:gray;
}
p{
    font-size: 16px;
    font-style: italic;
}
textarea {
    resize: none;
}
input:focus, textarea:focus {
    background-color: #eee;
}
button{
    background-color: red;
    color: white;
    font-size: 16px;
}
button:hover{
    background-color: white;
    color: red;
    cursor:pointer;
}
.producto {
    background-color: #eee;
    width: 280px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}
.producto h3{
    color: red;
    text-decoration: underline;
    text-align: center;
}
.producto span{
    color: green;
    font-weight: 800;
}
.producto img{
    height: 130px;
    margin: auto;
    display: block;
}
/*.producto li{
    color:gray;
}*/
.negrita{
    font-weight: 800;
}
#video {
    background-color: #eee;
    border-radius: 8px;
    padding: 20px;
} 
nav {
    display: block;
    text-align: center;
    background-color: red;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 14px 0px;
}
nav li {
    display: inline;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 50px;
}
nav a:hover {
    text-decoration: underline;
}
form{
    margin: auto;
    display: block;
    width: 600px;
}
form input[type=text], form input[type=date], form input[type=tel], form input[type=email], form select, form textarea{
    width: 100%;
    border: 1px solid red;
    height: 22px;
    display: block;
    border-radius: 8px;
}
form textarea{
    height: 100px;
}
form div{
    margin-bottom: 7px;
}
form button{
    padding: 10px 20px;
    border: 1px solid red;
    margin: auto;
    display: block;
    margin-top: 30px;
}
footer {
    /* Centramos los elementos dentro del footer*/
    width: max-content;
    margin: auto;
    margin-bottom: 30px;
}
footer a{
    text-decoration: none;
}
footer i {
    font-size: 35px;
    border: 1px solid;
    height: 48px;
    width: 58px;
    text-align: center;
    padding: 10px 0 0 0;
    border-radius: 80px;
    margin: 0 15px;
    color: red;
}