body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
p{
    color: #6a6a6a;
    font-size: 16px;
}
h1{
    color: #E20000;
    font-size: 36px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 14px; 
    color:#282828;
    font-weight: 300;
}
input, textarea, .btn {
    border-radius: 15px !important;
}
textarea{
    height: 150px;
}
nav .nav-link{
    color: #282828;
}
nav .active{
    border: 1px solid #E20000;
    border-radius: 20px;
}
#inicio .div-cohete{
    height: 410px;
}#inicio .cohete{
    height: 400px;
}
#inicio .cohete:hover{
    height: 410px;
}
#inicio .input-home p{
    color:white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
}
#sobre-mi{
    background-image: url(../images/fondo-proyectos.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#sobre-mi .card{
    height: 182px;
}
#idiomas .card-idioma{
    border-radius: 15px;
}
#idiomas .card{
    background-color: #370A6D;
    border-radius: 15px;
    padding: 40px 0;
}
#idiomas{
    background-color: #eee;
}
#idiomas h2{
    font-size: 16px;
    font-weight: 600px;
}
#idiomas ul{
    padding: 0px;
    font-size: 14px;
    color: #282828;
    list-style-type: none;
}
#idiomas .fas{
    font-size: 80px;
    color: white;
}
#experiencia h2, #experiencia h4 {
   color: #370A6D;
}
#experiencia h2, #formacion h2 {
    font-weight: 400;
    font-size: 24px
}
#formacion h2, #formacion h4{
    color: #E20000;
}
#experiencia h3, #formacion h3{
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600;

}
#experiencia h4, #formacion h4{
    font-size: 17px;
    
}
#experiencia h5, #formacion h5{
    color: #6A6A6A;
    font-size: 14px;
}
#proyectos{
    background-image: url(../images/fondo-proyectos.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#proyectos .card p{
    height: 90px
}
#proyectos footer, #proyectos footer a, #sobre-mi footer, #sobre-mi footer a{
    color: #E20000;
}
#proyectos footer .fa-github, #sobre-mi footer .fa-github{
    font-size: 30px;
    color: #E20000;
}
#proyectos footer .fa-linkedin-in{
    color: white;
    background-color: #E20000;
}
#proyectos h2{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;
}
#proyectos p{
    font-size: 14px;
}
#proyectos img{
    height: 177px;
}
#contacto, #inicio {
    background-image: url(../images/fondo-contacto.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#proyectos {
    background-image: url(../images/fondo-proyectos.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#proyectos h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;
}
#proyectos img {
    height: 210px;
}
#proyectos .card p{
    height: 90px;
}
.img-circle {
    margin: 1em auto;
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.baw {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
}
.baw:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:grayscale(0%);
}
.color-gradiente{
    background: rgba(184,37,20,1);
    background: -moz-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,37,20,1)), color-stop(47%, rgba(214,52,30,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(240,47,23,1)));
    background: -webkit-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -o-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}
.btn {
    color: #370a6d;
    background-color: white;
    border: none;
}
.btn-rojo{
    background-color: #E20000;
    color: white;
    font-weight: 100;
    border-radius: 15px;
}
.link-rojo a{
   color: #E20000;
   text-decoration: none;
}
.btn:hover{
       color: white;
    background-color:#370a6d;
}
footer, footer a{
    color: white;
    font-weight: 100;
}
footer .fa-github{
    font-size: 30px;
    color: white;
}
footer .fa-linkedin-in{
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.whatsapp{
    background-color:#370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right:80px;
    position: fixed;
    bottom: 0px;
}
.whatsapp a{
    color: white;
}    
@media (max-width: 750px) {/* Para mobile */
    #inicio, #contacto {
        background-image: url(../images/fondo-proyectos.png);
    }
    #inicio .input-home p {
        color: #E20000;
        border: 1px solid #E20000;
    }
    #contacto {
        background-image: url(../images/fondo-proyectos.png);
    }
    footer a{
    color: #E20000;
}
}